<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../style.css}">
    <title>about</title>
</head>
<body>
  <nav th:insert="~{menuTemplate::navbar}" />

  <h1>About Us</h1>

  <br>

  <h2>Our Mission</h2>
  <p>Our mission is to provide high-quality products at affordable prices to our customers. We believe in offering a wide range of options to meet the diverse needs and preferences of our customers.</p>

</body>
</html>